<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="J:\\Temp\\AIM\\DATA18\\"/>
    <add key="moxyconstr" value="Data Source=MOXY1;Initial Catalog=moxy;Integrated Security=SSPI"/>
	  <add key="moxy24constr" value="Data Source=MOXY1;Initial Catalog=moxy;Integrated Security=SSPI"/>
    <add key="metadataSP" value="usp_GetPMI24MetaData"/>
	  <add key="moxyAIMOutFolder" value="J:\Temp\AIM\DATA\TEST\"/>
	  <add key="getPortiaSrcFilesSP" value="usp_GetPortiaSrcFiles"/>
    <add key="getMoxyImportFilesSP" value="usp_GetMoxyImportFiles"/>
	  <add key="getMoxy24ImportFilesSP" value="usp_GetMoxy24ImportFiles"/>
	  <add key="moxyExportSP" value="usp_GetMoxyExport"/>
	  <add key="tradeDaysBack" value="5"/>
	  <add key="SecurityImportRequiredCols" value="180"/>
    <add key="BrokerImportRequiredCols" value="36"/>
    <add key="PortfolioImportRequiredCols" value="97"/>
    <add key="GroupImportRequiredCols" value="67"/>
	  <add key="SftpHost" value="data-transfer.lumint.com" />
	  <add key="SftpPort" value="22" />
	  <add key="SftpUsername" value="reporting_tweedy" />
	  <add key="SftpPrivateKeyPath" value="J:\Temp\NTFXTrades\keys\tb_nt_id_rsa" />
	  <add key="SftpPrivateKeyPassphrase" value="ur+|u9enlv&quot;z/bQ;!48." />
	  <add key="SftpPassword" value="" />
	  <add key="SftpRemoteDirectory" value="/" />
	  <add key="SftpFilePattern" value="*Tweedy*.csv" />
	  <add key="SftpLocalDirectory" value="J:\Temp\NTFXTrades\trades" />
	  <add key="FlipRateCurrencies" value="GBP,EUR,NZD,AUD" />
	  <add key="Version" value="5.2"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
